Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
 
packages: 
  yum:
    epel-release: [] 
 
 
container_commands:
  10_installcertbot:
    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
  20_createwebrootpath:
    command: "sudo mkdir /var/www/acme-challenge/"  
  30_getcertwebrootmode:
    command: "sudo ./certbot-auto certonly --debug --non-interactive --email info@parishconnect.ca --agree-tos --authenticator webroot --webroot-path /var/www/acme-challenge --domains ${certdomain} --keep-until-expiring --installer nginx"
  40_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${certdomain} /etc/letsencrypt/live/ebcert"
  50_success:
    command: "echo success"